@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="col-sm-12 col-md-7 col-md-offset-3 flatpage">

        <h1>Contact</h1>
        <img src="~/Content/images/EFK_contact.jpg" alt="Contact">

        <h3>International / The United Kingdom</h3>
        <p>The e-learning for kids foundation <br>Attention John Doe <br>953 Cloud Lane <br>West Chester, PA 19382 <br>United Kingdom<br>E-mail: <a href="mailto:info@learningforkids.org" title="Send us an e-mail">info@learningforkids.org</a></p>
        <h4>Bank Information</h4>
        <p>Deutshe Fargo<br>Account Number: 7830217946 <br>e-learning for kids foundation</p>
        <h3>The Republic of China</h3>
        <p>e-learning for kids<br>Xiuman 10<br>1213 SZ Xi Hao<br>Republic of China<br>Email: <a href="mailto:jgrimbergen@e-learningforkids.org" title="Send us an e-mail">jgrimbergen@e-learningforkids.org</a></p>
        <h4>Bank information</h4>
        <p>Bonjour Bank:<br>Rekening 123456789 t.n.v.<br>Stichting e-learning for kids, Gent<br>Bonjour Bank:<br>IBAN&nbsp;BE67 BONJ 1234 5678 51<br>BIC&nbsp;BONJ12D<br>Rekening nummer: 123 4567 51</p>

    </div>
</div>